<div class='container bg-2'>
<div class='col-xs-6 container'>
{{#link-to 'new' new.id}}<img style='width: 394px'src='{{new.image}}' class='img-responsive thumbnail' />{{/link-to}}<br />
</div>
<div class='col-xs-6 container title'>
{{#link-to 'new' new.id}}<h4>{{new.title}}</h4>{{/link-to}}
</div>
</div>
<br />
